*, ::before, ::after
  box-sizing: border-box

\::selection
  background-color: ds.$hex-accent-dark
  color: ds.$hex-dark

html
  font-size: 16px

body
  margin: 0
  font-size: 16px
  word-break: keep-all
  -webkit-text-size-adjust: none
  transition: all .4s cubic-bezier(.4,0,.2,1)

body, pre, input, button, textarea, select
  font-size: 1rem
  font-weight: 400
  font-optical-sizing: auto
  font-feature-settings: normal
  font-stretch: 100%
  text-size-adjust: 100%
  text-rendering: optimizeLegibility
  color: ds.$hex-dark
  -webkit-font-smoothing: antialiased

body[data-theme='dark']
  color: ds.$hex-light

pre, input, button, textarea, select
  body[data-theme='dark'] &
    color: ds.$hex-light

body
  background-color: ds.$hex-white

h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: 0

img
  @include ds.image-rendering
  user-drag: none

a
  text-decoration: none
  -webkit-tap-highlight-color: rgba(255,255,255,.10)

fieldset
  margin: 0
  padding: 0

legend
  position: absolute
  overflow: hidden
  margin: 0
  width: 1px
  height: 1px
  clip: rect(1px, 1px, 1px, 1px)

label
  cursor: pointer

img, fieldset
  border: 0

p, ul, dl, pre
  margin-top: 0
  margin-bottom: 0

ul, ol
  margin-top: 0
  margin-bottom: 0
  padding-left: 0
  list-style-type: none

dd
  margin-left: 0

button
  cursor: pointer
  border: 0
  padding: 0

figure
  margin: 0

address, cite
  font-style: normal

iframe
  display: block

a, button, select, input
  user-select: none

.container
  margin: 0 auto
  padding: 0 ds.rem(12)
  width: 100%
  max-width: ds.rem(868)

main
  background-color: ds.$hex-white
  display: flex
  flex-grow: 1
  padding: ds.rem(52) 0 ds.rem(72)

  body[data-theme='dark'] &
    background-color: ds.$hex-dark

#__next > div
  display: flex
  flex-direction: column
  min-height: 100vh
