.main
  .container
    display: flex

    @include ds.mq(maxMedium)
      flex-direction: column

    @include ds.mq(minLarge)
      flex-wrap: wrap

  section.section
    display: flex
    flex-direction: column
    gap: ds.rem(17)
    margin: 0 auto
    max-width: ds.rem(404)
    padding: ds.rem(53) 0

    @include ds.mq(maxMedium)
      border-bottom: ds.rem(2) solid ds.$hex-gray-light

    @include ds.mq(maxExtraSmall)
      gap: ds.vw(17, 384)
      padding: ds.vw(53, 384) 0
      max-width: none

    &:last-of-type
      border-bottom: 0
      padding-bottom: 0

      @include ds.mq(minLarge)
        border-top: ds.rem(2) solid ds.$hex-gray-light
        max-width: none
        width: 100%

    h2
      font-size: ds.rem(24)
      @include ds.fw(900)

      @include ds.mq(maxExtraSmall)
        font-size: ds.vw(24, 384)

    &.section-dday
      .fieldset
        gap: 0

        .diff
          padding-bottom: ds.rem(12)

          @include ds.mq(maxExtraSmall)
            padding-bottom: ds.vw(12, 384)

        .dday
          padding-bottom: ds.rem(24)

          @include ds.mq(minLarge)
            padding-bottom: 0

          label
            padding-right: ds.rem(6)

            @include ds.mq(maxExtraSmall)
              padding-right: ds.vw(6, 384)

    .fieldset
      display: flex
      flex-direction: column
      gap: ds.rem(12)

      @include ds.mq(maxExtraSmall)
        gap: ds.vw(12, 384)

      .group
        display: flex
        height: ds.rem(53)

        @include ds.mq(maxExtraSmall)
          height: ds.vw(53, 384)

      label
        display: flex
        align-items: center

      select
        cursor: pointer

      select, input
        appearance: none

      select, input, label
        height: ds.rem(53)
        font-size: ds.rem(37)
        line-height: 1

        @include ds.mq(maxExtraSmall)
          height: ds.vw(53, 384)
          font-size: ds.vw(32, 384)

      select, input
        appearance: none
        background-color: transparent
        height: ds.rem(53)
        border: 0
        border-bottom: ds.rem(2) solid ds.$hex-gray-light
        padding: 0
        text-align: right

        @include ds.mq(maxExtraSmall)
          height: ds.vw(53, 384)

      .ymd, .calc
        display: flex
        gap: ds.rem(17)

        @include ds.mq(maxExtraSmall)
          gap: ds.vw(17, 384)

      .ymd
        display: flex
        gap: ds.rem(17)

        @include ds.mq(maxExtraSmall)
          gap: ds.vw(17, 384)
          align-items: center

        select
          width: ds.rem(37)

          @include ds.mq(maxExtraSmall)
            width: ds.vw(37, 384)

          &.year
            width: ds.rem(82)

            @include ds.mq(maxExtraSmall)
              width: ds.vw(82, 384)

        span
          font-size: ds.rem(37)

          @include ds.mq(maxExtraSmall)
            font-size: ds.vw(32, 384)
            line-height: 1

      .calc
        gap: ds.rem(10)
        padding-bottom: ds.rem(12)

        @include ds.mq(maxExtraSmall)
          gap: ds.vw(10, 384)

        .group
          gap: ds.rem(10)

          @include ds.mq(maxExtraSmall)
            gap: ds.vw(10, 384)

        input
          width: ds.rem(220)

          @include ds.mq(maxExtraSmall)
            width: ds.vw(220, 384)

      .wrapper
        display: flex
        gap: ds.rem(12)

        @include ds.mq(maxMedium)
          flex-direction: column

        @include ds.mq(minLarge)
          align-items: flex-start
          gap: ds.rem(23)
          padding-bottom: ds.rem(23)

          .diff
            @include ds.col
            padding-bottom: 0

      .dday
        & + .diff
          margin-top: ds.rem(-24)
          padding-left: ds.rem(108)
          padding-bottom: ds.rem(24)

          @include ds.mq(maxExtraSmall)
            margin-top: ds.vw(-24, 384)
            padding-left: ds.vw(108, 384)
            padding-bottom: ds.vw(24, 384)

          @include ds.mq(minLarge)
            margin-top: 0
            padding-bottom: 0

          label
            padding-right: 0

      .switch
        display: flex
        justify-content: center
        align-items: center

        @include ds.mq(minLarge)
          transform: rotate(90deg)
          height: ds.rem(53)

        & + .diff
          display: flex
          flex-direction: column
          gap: ds.rem(12)
          padding: 0

        button
          background-color: transparent
          width: ds.rem(35)
          height: ds.rem(35)

          @include ds.mq(maxMedium)
            display: flex
            align-items: center
            justify-content: center
            background-color: ds.$hex-danger
            border-radius: 100%
            width: ds.rem(37)
            height: ds.rem(37)

          @include ds.mq(maxExtraSmall)
            width: ds.vw(37, 384)
            height: ds.vw(37, 384)

          svg
            width: ds.rem(35)
            height: ds.rem(35)

            @include ds.mq(maxMedium)
              width: ds.rem(23)
              height: ds.rem(23)

            @include ds.mq(maxExtraSmall)
              width: ds.vw(23, 384)
              height: ds.vw(23, 384)

            path
              fill: ds.$hex-danger

              @include ds.mq(maxMedium)
                fill: ds.$hex-white

          span
            @include ds.screen-reader-only

      button:not(.switcher)
        transition: background 0.3s ease-in-out, transform 0.2s
        position: relative
        overflow: hidden
        background-color: ds.$hex-white
        border: ds.rem(2) solid
        border-radius: ds.rem(54)
        padding: ds.rem(17)
        font-size: ds.rem(18)
        @include ds.fw(900)
        color: ds.$hex-accent-light

        @include ds.mq(maxExtraSmall)
          border-radius: ds.vw(54, 384)
          padding: ds.vw(17, 384)
          font-size: ds.vw(18, 384)

        &::before
          content: ''
          position: absolute
          top: 50%
          left: 50%
          width: 300%
          height: 300%
          background: radial-gradient(circle, ds.$hex-accent-light 0%, ds.$hex-white 100%)
          transition: transform 0.3s ease-in-out
          transform: translate(-50%, -50%) scale(0)
          z-index: 0

          body[data-theme='dark'] &
            background: radial-gradient(circle, ds.$hex-accent-dark 0%, ds.$hex-dark 100%)

        &:hover,
        &:focus
          border-color: ds.$hex-accent-light
          color: ds.$hex-white

          body[data-theme='dark'] &
            border-color: ds.$hex-accent-dark
            color: ds.$hex-black

        &:hover::before,
        &:focus::before
          transform: translate(-50%, -50%) scale(1)

        span
          position: relative
          z-index: 1

        body[data-theme='dark'] &
          background-color: ds.$hex-dark
          color: ds.$hex-accent-dark

    .dd-result
      p
        font-size: ds.rem(24)

        @include ds.mq(maxExtraSmall)
          font-size: ds.vw(24, 384)

    p
      margin: ds.rem(12) 0
      font-size: ds.rem(30)
      @include ds.fw(500)
      color: ds.$hex-dark

      @include ds.mq(maxExtraSmall)
        margin: ds.vw(12, 384)
        font-size: ds.vw(27, 384)

      &:nth-of-type(3), &:nth-of-type(4)
        font-size: ds.rem(20)

        @include ds.mq(maxExtraSmall)
          font-size: ds.vw(18, 384)

      body[data-theme='dark'] &
        color: ds.$hex-light

      strong
        @include ds.fw(900)
        color: ds.$hex-black

        body[data-theme='dark'] &
          color: ds.$hex-white

    .diff
      display: flex

      .group
        &:first-of-type
          align-items: center

          label:first-of-type
            padding-right: ds.rem(12)
            font-size: ds.rem(34)

            @include ds.mq(maxExtraSmall)
              padding-right: ds.vw(12, 384)
              font-size: ds.vw(34, 384)

      &:last-of-type
        padding-bottom: ds.rem(12)

        @include ds.mq(maxExtraSmall)
          padding-bottom: ds.vw(12, 384)
