.main
  .container
    max-width: ds.rem(404)

  section
    display: flex
    flex-direction: column
    gap: ds.rem(17)
    margin: 0 auto
    border-bottom: ds.rem(2) solid ds.$hex-gray-light
    padding: ds.rem(53) 0
    max-width: ds.rem(404)

    &:last-of-type
      border-bottom: 0
      padding-bottom: 0

    h2
      font-size: ds.rem(24)
      @include ds.fw(900)

    fieldset
      display: flex
      flex-direction: column
      gap: ds.rem(12)

      .group
        display: flex
        height: ds.rem(53)

      label
        display: flex
        align-items: center

      select
        cursor: pointer

      select, input, label
        height: ds.rem(53)
        font-size: ds.rem(37)
        line-height: 1

      select, input
        appearance: none
        background-color: transparent
        height: ds.rem(53)
        border: 0
        border-bottom: ds.rem(2) solid ds.$hex-gray-light
        padding: 0
        text-align: right

      .ymd, .calc
        display: flex
        gap: ds.rem(17)

      .ymd
        display: flex
        gap: ds.rem(17)

        select
          width: ds.rem(37)

          &.year
            width: ds.rem(82)

        span
          font-size: ds.rem(37)

      .calc
        gap: ds.rem(10)
        padding-bottom: ds.rem(12)

        .group
          gap: ds.rem(10)

        input
          width: ds.rem(220)

      .dday
        & + .diff
          padding-left: ds.rem(102)

      .switch
        display: flex
        justify-content: center
        align-items: center

        button
          background-color: transparent
          width: ds.rem(35)
          height: ds.rem(35)

          svg
            width: 100%
            height: 100%

            path
              fill: ds.$hex-danger

          span
            @include ds.screen-reader-only

      button:not(.switcher)
        transition: background 0.3s ease-in-out, transform 0.2s
        position: relative
        overflow: hidden
        background-color: ds.$hex-white
        border: ds.rem(2) solid
        border-radius: ds.rem(54)
        padding: ds.rem(17)
        font-size: ds.rem(18)
        @include ds.fw(900)
        color: ds.$hex-accent-light

        &::before
          content: ''
          position: absolute
          top: 50%
          left: 50%
          width: 300%
          height: 300%
          background: radial-gradient(circle, ds.$hex-accent-light 0%, ds.$hex-white 100%)
          transition: transform 0.3s ease-in-out
          transform: translate(-50%, -50%) scale(0)
          z-index: 0

          body[data-theme='dark'] &
            background: radial-gradient(circle, ds.$hex-accent-dark 0%, ds.$hex-dark 100%)

        &:hover,
        &:focus
          border-color: ds.$hex-accent-light
          color: ds.$hex-white

          body[data-theme='dark'] &
            border-color: ds.$hex-accent-dark
            color: ds.$hex-black

        &:hover::before,
        &:focus::before
          transform: translate(-50%, -50%) scale(1)

        span
          position: relative
          z-index: 1

        body[data-theme='dark'] &
          background-color: ds.$hex-dark
          color: ds.$hex-accent-dark

    .dd-result
      p
        font-size: ds.rem(24)

    p
      margin: ds.rem(12) 0
      font-size: ds.rem(30)
      @include ds.fw(500)
      color: ds.$hex-dark

      &:nth-of-type(3), &:nth-of-type(4)
        font-size: ds.rem(20)

      body[data-theme='dark'] &
        color: ds.$hex-light

      strong
        @include ds.fw(900)
        color: ds.$hex-black

        body[data-theme='dark'] &
          color: ds.$hex-white

    .diff
      display: flex

      .group
        &:first-of-type
          align-items: center

          label:first-of-type
            padding-right: ds.rem(12)
            font-size: ds.rem(34)

      &:last-of-type
        padding-bottom: ds.rem(12)
