.main
  @include ds.mq(maxExtraSmall)
    background-color: ds.$hex-light
    padding-top: ds.rem(23)

  .container
    display: flex

    @include ds.mq(minLarge)
      flex-wrap: wrap

    @include ds.mq(maxExtraSmall)
      gap: ds.rem(12)
      padding-right: 0
      padding-left: 0

    @include ds.mq(maxMedium)
      flex-direction: column

section.section
  display: flex
  flex-direction: column
  gap: ds.rem(23)
  margin: 0 auto

  @include ds.mq(minSmall)
    padding: ds.rem(15) 0
    width: 100%

  @include ds.mq(minLarge)
    margin: 0

    &:last-of-type
      padding-bottom: 0

    &.section-half
      max-width: none
      width: 50%

      .module
        width: ds.rem(407)

    &.section-anthor
      align-items: flex-end

  @include ds.mq(maxExtraSmall)
    background-color: ds.$hex-white
    width: 100%

    body[data-theme='dark'] &
      background-color: ds.$hex-black

  @include ds.mq(maxMedium)
    max-width: ds.rem(384)

  @include ds.mq(maxExtraSmall)
    max-width: none

  .module
    display: flex
    flex-direction: column
    flex-grow: 1
    gap: ds.rem(13)
    padding: ds.rem(17)

    @include ds.mq(minSmall)
      border: ds.rem(2) solid ds.$hex-light
      border-radius: ds.rem(17)

      body[data-theme='dark'] &
        border: ds.rem(2) solid ds.$hex-black

    > h2
      font-size: ds.rem(20)
      @include ds.fw(500)

      svg
        width: auto
        height: ds.rem(22)
        aspect-ratio: 117 / 19

        path
          fill: ds.$hex-dark

          body[data-theme='dark'] &
            fill: ds.$hex-white

  &.section-dday
    @include ds.mq(minLarge)
      margin: 0
      max-width: none
      width: 100%

    fieldset
      .ymd
        padding-bottom: ds.rem(9)

      .dday
        label
          padding-right: ds.rem(6)

        & + .ymd
          padding-bottom: 0

  &.section-event-percentage
    display: flex
    flex-direction: column

    @include ds.mq(minLarge)
      margin: 0
      max-width: none
      width: 100%

  &.section-event-anniversary
    display: flex
    flex-direction: column

    & + .section
      @include ds.mq(maxMedium)
        width: 100%

    .result
      p
        display: flex
        flex-direction: column
        gap: ds.rem(3)
        font-size: ds.rem(35)
        @include ds.fw(500)

        em
          font-style: normal
          font-size: ds.rem(16)
          color: ds.$hex-gray-dark

  &.section-solu
    @include ds.mq(minLarge)
      margin: 0
      max-width: none
      width: 100%

    .solu
      display: flex
      gap: ds.rem(23)

      @include ds.mq(minLarge)
        gap: ds.rem(72)

      .ymd, .select
        @include ds.mq(minLarge)
          @include ds.col

      .select
        @include ds.mq(minLarge)
          select
            width: 100%
            text-align: left

      .ymd
        @include ds.mq(minLarge)

          .group
            @include ds.col

        select
          @include ds.col
          width: auto

    .result
      ul
        li
          @include ds.fw(500)
          font-size: ds.rem(18)

  &.section-army
    @include ds.mq(minLarge)
      margin: 0
      max-width: none
      width: 100%

    .army
      display: flex
      gap: ds.rem(5)

      @include ds.mq(minLarge)
        gap: ds.rem(72)

      .ymd, .select
        @include ds.mq(minLarge)
          @include ds.col

      .select
        @include ds.mq(minLarge)
          select
            width: 100%
            text-align: left

      .ymd
        @include ds.mq(minLarge)
          .group
            @include ds.col

        select
          @include ds.col
          width: auto

  &.section-ovulation
    .ymd
      flex-wrap: wrap

      &:first-of-type
        & + .ymd
          display: flex
          flex-direction: column
          position: relative

          & > .ymd
            gap: ds.rem(5)
            padding-top: ds.rem(12)
            padding-bottom: 0

            .group
              padding-right: ds.rem(7)

          .checkbox
            display: flex
            align-items: center
            gap: ds.rem(5)
            position: absolute
            top: ds.rem(10)
            right: 0

            > div
              display: flex
              justify-content: center
              align-items: center
              width: ds.rem(24)
              height: ds.rem(24)
              position: relative
              background-color: ds.$hex-white

              body[data-theme='dark'] &
                background-color: ds.$hex-dark

              &.checked
                svg
                  path
                    fill: ds.$hex-accent-light

                    body[data-theme='dark'] &
                      fill: ds.$hex-accent-dark

              &.unchecked
                svg
                  path
                    fill: rgba(ds.$hex-dark, .7)

                    body[data-theme='dark'] &
                      fill: rgba(ds.$hex-light, .7)

            input
              @include ds.hidden-box
              width: ds.rem(24)
              height: ds.rem(24)

            label
              display: inline-block
              height: auto
              font-size: ds.rem(16)
              font-weight: 700
              white-space: nowrap

      > label
        width: 100%

      & + .ymd
        gap: 0
        padding-top: 0

    .result
      p
        font-size: ds.rem(16)

        span
          display: block

  &.section-female
    label.anthor
      height: auto!important
      font-size: ds.rem(16)!important
      font-weight: 500

  &.section-calendar
    .module
      > p
        font-weight: 500
        color: ds.$hex-danger

      > .headline
        display: flex

        @include ds.mq(maxMedium)
          flex-direction: column
          gap: ds.rem(7)

        @include ds.mq(minLarge)
          justify-content: space-between

        .checkboxes
          display: flex
          gap: ds.rem(12)

          .checkbox
            display: flex
            align-items: center
            gap: ds.rem(5)
            position: relative

            > div
              display: flex
              justify-content: center
              align-items: center
              width: ds.rem(24)
              height: ds.rem(24)
              position: relative
              background-color: ds.$hex-white

              body[data-theme='dark'] &
                background-color: ds.$hex-dark

              &.checked
                svg
                  path
                    fill: ds.$hex-accent-light

                    body[data-theme='dark'] &
                      fill: ds.$hex-accent-dark

              &.unchecked
                svg
                  path
                    fill: rgba(ds.$hex-dark, .7)

                    body[data-theme='dark'] &
                      fill: rgba(ds.$hex-light, .7)

            input
              @include ds.hidden-box
              width: ds.rem(24)
              height: ds.rem(24)

            label
              display: inline-block
              height: auto
              font-size: ds.rem(16)
              font-weight: 700
              white-space: nowrap

      .timeline
        display: flex
        flex-direction: column
        gap: ds.rem(17)

        .headline
          display: flex
          justify-content: space-between

          h3
            font-size: ds.rem(18)
            font-weight: 900
            color: ds.$hex-accent-light

            body[data-theme='dark'] &
              color: ds.$hex-accent-dark

          .controls
            display: flex
            gap: ds.rem(12)

            .button-group
              button
                &:first-of-type
                  border-bottom-right-radius: 0
                  border-top-right-radius: 0
                  margin-right: -1px

                &:last-of-type
                  border-bottom-left-radius: 0
                  border-top-left-radius: 0

        .list
          display: flex
          flex-direction: column
          gap: ds.rem(17)

          @include ds.mq(minLarge)
            gap: ds.rem(12)

          > li
            display: flex
            align-items: flex-start
            gap: ds.rem(23)

            strong
              position: relative
              top: ds.rem(4)
              width: ds.rem(90)
              text-align: right
              @include ds.fw(700)
              font-size: ds.rem(18)

            ul
              display: flex
              @include ds.col
              gap: ds.rem(7)

              @include ds.mq(maxMedium)
                flex-direction: column

              li
                div
                  display: inline-flex
                  flex-direction: column

                  em, span
                    display: inline-flex

                  em
                    font-size: ds.rem(14)
                    font-weight: 700
                    font-style: normal

                  span
                    font-size: ds.rem(16)

  .event-container
    display: flex

    @include ds.mq(maxMedium)
      flex-direction: column

    @include ds.mq(minLarge)
      justify-content: space-between

      .ymd
        @include ds.col

        & + .ymd
          justify-content: flex-end

  .result-container
    display: flex
    flex-direction: column

    > p, li, dl
      font-size: ds.rem(20)

    dl
      div
        display: flex
        align-items: center
        gap: ds.rem(7)
        margin: ds.rem(12) 0

        dt, dd
          line-height: 1

        dt
          opacity: .7
          font-size: ds.rem(18)

        dd
          @include ds.fw(700)

    .event-percentage-result
      p
        font-size: ds.rem(20)

        em
          font-style: normal
          font-size: ds.rem(14)
          color: ds.$hex-gray-dark

    .progress
      .progress-bar
        background-color: rgba(ds.$hex-dark, .1)
        overflow: hidden
        margin: ds.rem(12) 0
        border-radius: ds.rem(16)
        width: 100%
        height: ds.rem(16)

        body[data-theme='dark'] &
          background-color: rgba(ds.$hex-light, .1)

        .progressing
          animation: 1s linear 0s infinite normal none running progress
          background-color: ds.$hex-accent-light
          background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
          background-size: ds.rem(16)
          display: block
          border-radius: ds.rem(16)
          height: ds.rem(16)
          min-width: ds.rem(16)

          body[data-theme='dark'] &
            background-color: ds.$hex-accent-dark

      p
        font-size: ds.rem(24)
        @include ds.fw(900)

  fieldset
    display: flex
    flex-direction: column
    gap: ds.rem(5)

    .group
      display: flex
      gap: ds.rem(5)

      &.group-mix
        .text
          width: ds.rem(130)

    label, .group + span
      display: flex
      align-items: center
      border-bottom: ds.rem(2) solid transparent

    select
      cursor: pointer

    select, input[type='number'], input[type='text']
      appearance: none

    select, input[type='number'], input[type='text'], label, span
      height: ds.rem(37)
      font-size: ds.rem(18)
      line-height: 1

    select, input[type='number'], input[type='text']
      appearance: none
      background-color: transparent
      border: 0
      border-bottom: ds.rem(2) solid ds.$hex-gray-light
      border-radius: 0
      padding: 0
      text-align: right
      transition: all .4s cubic-bezier(.4,0,.2,1)

      &:focus, &:focus-visible
        outline: 0
        border-bottom: ds.rem(5) solid ds.$hex-accent-light
        color: ds.$hex-accent-light

      body[data-theme='dark'] &
        bottom-bottom-color: ds.$hex-accent-dark

        &:focus, &:focus-visible
          border-bottom-color: ds.$hex-accent-dark
          color: ds.$hex-accent-dark

    .event-name
      display: flex
      justify-content: space-between
      gap: ds.rem(17)!important
      width: 100%
      color: ds.$hex-gray-dark

      .eventName
        @include ds.col

      input
        width: 100%
        text-align: left!important

    .ymd
      display: flex
      gap: ds.rem(12)

      .text
        @include ds.col

        input
          width: 100%

      &.lymd
        .group:first-of-type
          label:first-of-type
            padding-right: ds.rem(12)
            color: ds.$hex-gray-dark

    .wrapper
      display: flex

      @include ds.mq(maxMedium)
        flex-direction: column

      @include ds.mq(minLarge)
        align-items: flex-start
        gap: ds.rem(23)
        height: ds.rem(37)

        .ymd
          padding-bottom: 0

    .dday
      & + .ymd
        label
          padding-right: 0

        .group
          label
            padding-right: 0!important
            color: ds.$hex-black!important

            body[data-theme='dark'] &
              color: ds.$hex-white!important

    .switch
      display: flex
      justify-content: center
      align-items: center

      @include ds.mq(minLarge)
        transform: rotate(90deg)
        margin-top: ds.rem(-8)
        height: ds.rem(53)

      & + .ymd
        display: flex
        justify-content: flex-start
        gap: ds.rem(12)
        padding: 0

      button
        background-color: transparent
        width: ds.rem(35)
        height: ds.rem(35)

        @include ds.mq(maxMedium)
          display: flex
          align-items: center
          justify-content: center
          background-color: ds.$hex-danger
          border-radius: 100%
          width: ds.rem(37)
          height: ds.rem(37)

        svg
          width: ds.rem(35)
          height: ds.rem(35)

          @include ds.mq(maxMedium)
            width: ds.rem(23)
            height: ds.rem(23)

          path
            fill: ds.$hex-danger

            @include ds.mq(maxMedium)
              fill: ds.$hex-white

        span
          @include ds.screen-reader-only

    button:not(.switcher)
      background-color: transparent
      border: ds.rem(2) solid
      border-radius: ds.rem(3)
      height: ds.rem(52)
      font-size: ds.rem(16)
      @include ds.fw(500)
      color: ds.$hex-accent-light

      body[data-theme='dark'] &
        color: ds.$hex-accent-dark

    .submit
      width: 100%
      padding-top: ds.rem(12)

      button
        width: 100%

  .notice
    p
      margin: ds.rem(2)
      font-size: ds.rem(12)
      color: ds.$hex-danger

      &::before
        content: '•'
        display: inline-block
        position: relative
        top: ds.rem(-1)
        padding-right: ds.rem(5)

  .dd-result

    p
      font-size: ds.rem(24)

      &:nth-of-type(2)
        font-size: ds.rem(18)

        span
          @include ds.mq(maxMedium)
            display: block

  .result-age
    p
      display: flex

      @include ds.mq(minLarge)
        gap: ds.rem(5)

      @include ds.mq(maxMedium)
        flex-direction: column

  .result
    div
      p
        font-size: ds.rem(20)

    p
      margin: ds.rem(12) 0
      font-size: ds.rem(26)
      @include ds.fw(500)
      color: ds.$hex-dark

      body[data-theme='dark'] &
        color: ds.$hex-light

      strong
        @include ds.fw(700)
        color: ds.$hex-black

        body[data-theme='dark'] &
          color: ds.$hex-white

  .gffd
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    height: ds.rem(239)

    @include ds.mq(minLarge)
      flex-grow: 1
      justify-content: space-between

    @include ds.mq(maxMedium)
      gap: ds.rem(12)

    .image
      width: ds.rem(107)
      height: ds.rem(107)

      svg
        width: 100%
        height: 100%

        path
          fill: ds.$hex-dark

          body[data-theme='dark'] &
            fill: ds.$hex-white

    .text
      width: ds.rem(260)
      height: ds.rem(45)

      svg
        width: 100%
        height: 100%

        path
          fill: ds.$hex-accent-light

          body[data-theme='dark'] &
            fill: ds.$hex-accent-dark

    a
      display: flex
      justify-content: center
      align-items: center
      background-color: transparent
      border: ds.rem(2) solid
      border-radius: ds.rem(3)
      width: 100%
      height: ds.rem(52)
      font-size: ds.rem(16)
      @include ds.fw(500)
      color: ds.$hex-accent-light

      body[data-theme='dark'] &
        color: ds.$hex-accent-dark

    &.latte
      a
        transition: all .4s cubic-bezier(.4,0,.2,1)

        &:hover, &:focus
          background-color: ds.$hex-accent-light
          border-color: ds.$hex-accent-light
          color: ds.$hex-white

          body[data-theme='dark'] &
            background-color: ds.$hex-accent-dark
            border-color: ds.$hex-accent-dark
            color: ds.$hex-dark

@keyframes progress
  0%
    background-position-x: ds.rem(16)
